/* universal styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    margin: 1% 2%;
    display: flex; 
    padding-bottom: 4.5rem;
} 

/* styling for the header */
 header {
    display: flex;
    text-decoration: none;
    color: red;
    background-color: black;
    padding: 1% 0;
    align-items: center;
    margin-bottom: 3em;
}

/*universal styling for lists*/
ul{
    display: flex;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: tomato;
}
a:hover{
    text-decoration: underline;
}
/* styling for the navigarional bar */
 .selected {
    color: tomato;
    font-weight: bold;
}

nav ul li {
    
    padding: 2% 5%;
}
nav ul li a{
    color:white;
}

/* styling for the logo */
#logo {
    margin: 0 4%;
    font-size: 2em;
    text-decoration: none;
    color: rgba(255, 0, 0, 0.651);
}




 
 
 .poster-box-container{
    width: 90%;
    display: flex;
    flex-direction: column;
    padding-left: 2%;
}
.poster-box img {
    width: 200px;
    height: 309px;
}
.poster-box ul{
    display:flex;
    flex-wrap: wrap;
}
.poster-box li{
    margin: 1% 3%;
    list-style-type: none;
}
figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 3px;
    max-width: 220px;
}
figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

/* styling for category column */

.category-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.category-box li{
    margin: 1.5rem 2rem;
    list-style-type: none;
}


.social-media-contacts h2{
    font-size: 2em;
}
.social-media-contacts ul{
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    
}
.social-media-contacts ul li {
    margin-top: 3rem;
}
.contacts-page{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contacts-page iframe{
    margin: 0 5rem;
}

#page-container {
    position: relative;
    min-height: 100vh;
  }

/* styling for the footer */
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: .5rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4.5rem; 
} 


/* here experiments start */
/* .wrapper{
    display:flex;
    flex-flow: row wrap;
    text-align: center;
}
.wrapper > * {
    padding: 10px;
    margin: 10;
    flex: 1 100%;
}
@media all and (min-width: 800px){
    .main{
        flex:3;
    }
    aside{
        order: 1;
    }
    .main{
        order: 2;
    }
    footer{
        order: 4;
    }
}
@media all and (min-width: 600px){
    aside{
        flex: 1;
    }
} */

